<%= form_for [@user, @employee], html: {class: "form-horizontal",  remote: true} do |f| %>
	<div class="form-group">
	<%= f.label :name, class:"control-label" %>:
	<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
	<%= f.label :ssn, 'Social Security Number', class:"control-label" %>:
	<%= f.number_field :ssn, class: "form-control" %>
	</div>
	
	<div class="form-group">
	<%= f.label :hiring_date, 'Date of Hire', class:"control-label" %>:
	<%= f.date_field :hiring_date, class: "form-control date"%>
	</div>

	<div class="form-group">
	<%= f.label :birthday, 'Birthdate', class:"control-label"  %>:
	<%= f.date_field :birthday, class: "form-control" %>
	</div>

	<div class="form-group">
	<%= f.label :prob_expire, 'Probation Due', class:"control-label"  %>:
	<%= f.date_field :prob_expire, class: "form-control"%>
	</div>

	<div class="form-group">
	<%= f.label :act_insure, 'Benefit Eligibility', class:"control-label"  %>:
	<%= f.date_field :act_insure, class: "form-control" %>
	</div>

	<div class="form-group">
	<%= f.label :ann_review, 'Annual Review', class:"control-label"  %>:
	<%= f.date_field :ann_review, class: "form-control" %>
	</div>

	<div class="form-group">
	<%= f.submit 'Submit', class: "btn btn-default" %> 

	<button type="submit" class="btn btn-default btn-danger" id="cancel_new_employee_link">Cancel</button>
	</div>
<% end %>

	
	